body {
  height: 100vh;
  background-color: #dbd034;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#playPauseButton {
  width: 100px;
  height: 40px;
  font-size: large;
  border-color: burlywood;
}

#currentPoint {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}